/*=============================================================
    Authour URI: www.binarytheme.com
    License: Commons Attribution 3.0

    http://creativecommons.org/licenses/by/3.0/

    100% To use For Personal And Commercial Use.
   
    ========================================================  */

/* =============================================================
   GENERAL STYLES
 ============================================================ */
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Slabo+27px');
@import url('https://fonts.googleapis.com/css?family=Montserrat');


html {
    width: 100%;
    height: 100%;
    text-overflow: ellipsis;
    margin-right: 0;
    margin-left: 0;
}

.flex {
    display: flex;
    justify-content: center;
}

h1 {
    font-family: 'Lato', sans-serif;
    letter-spacing: 2px;
}

body {
    padding-top: 70px;
    height: 100%;
    line-height: 30px;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    max-width: 100%;
    font-size: 15px;
}

/* this is to overide bootstrap weird -15px margins*/
.row{
    margin-left: 0;
    margin-right: 0;
}

.set-pad {
    padding-top:35px;
}
.set-row-pad {
    padding-top:30px;
    padding-bottom:50px;
}

.padded-sides {
    padding-left: 5px;
    padding-right: 5px;
}

.quote {
    quotes: "\201C""\201D""\2018""\2019";
}

.quote:before {
    content: open-quote;
}

.quote:after {
    content: close-quote;
}
/* =============================================================
   IMAGE WALL
 ============================================================ */

/* =============================================================
   TABLE STYLES
 ============================================================ */
.template_table {
    margin: auto;
    width: 90%;
    font-family: "Lato","sans-serif";
}      

.template_table td {                           
    text-align: center;     
    width: 10em;                    
    padding: 1em;
}       

.template_table th {                              
    text-align: center;                 
    padding: 1em;
    background-color: #5D9183;       
    color: white;
}

.template_table tr {
    height: 1em;
}

.template_table tr:nth-child(even) {            
       background-color: #eee;
}

.template_table tr:nth-child(odd) {            
    background-color:#fff;
}

.principal-left {
    display: flex;
}

.sortable:hover {
    cursor: pointer;
    text-decoration: underline;
}

/*=====================================
  NAVBAR STYLES 
    ===================================*/
.background-nav {
    background-color: #2d3d5a;
}
.logo-custom {
    max-height: 40px;
}

.navcol {
    background-color: #2d3d5a;
    color: #fff;
}

#menu {
    background-color: rgba(28, 43, 75, 1);
    color: #fff;
    font-size: 12px;
    font-weight: 900;
    letter-spacing: 2px;
    min-height: 70px;
    position: fixed;
    top: 0;
    z-index: 500;
    width: 100%;
}

.navbar {
    border-radius: 0px;
}

@media (max-width: 768px) {
.nav {
    height: auto;
    max-height: 500px;
    overflow-x: hidden;
}
}

.navbar-inverse {
    border-color: transparent;
}

.navbar-collapse.in {
    max-height: none !important;
    height: auto !important;
}

.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-nav > li > a:hover {
    color: #FFF;
    padding: 22px 10px;
}

.navbar-inverse .navbar-toggle {
    border-color: #FFF;
}

.navbar-inverse .navbar-toggle:active {
    border-color: #FFF;
}

/*.sliding-middle-out {
    display: inline-block;
    position: relative;
    padding-bottom: 3px;
}
.sliding-middle-out:after {
    content: '';
    display: block;
    margin: auto;
    height: 3px;
    width: 0px;
    background: transparent;
    transition: width .2s ease, background-color .2s ease;
}
.sliding-middle-out:hover:after {
    width: 100%;
    background: white;
}*/

.static-sliding{
    color: blue;
}

/*=====================================
  DROP DOWN MENU 
    ===================================*/
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover
{
    background-color: rgba(28, 43, 75, 1);
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
    .navbar-inverse .navbar-nav
    .open .dropdown-menu>li>a {
        color: #FFFFFF;
    }    
}

.dropbtn {
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    background-color: rgba(28, 43, 75, 1);
    color: white;
    padding-left: 7.5%;
    padding-right: 7.5%;
    text-decoration: none;
    display: block;
}
.dropdown-content a:after{
    content: '';
    display: block;
    margin: auto;
    height: 3px;
    width: 0px;
    background: transparent;
    transition: width .2s ease, background-color .2s ease;
}
.dropdown-content a:hover:after {
    width: 90%;
    padding-right: 50%;
    background: white;
}
.dropdown:hover .dropdown-content {
    display: block;
}

/*=====================================
  HOME STYLES 
    ===================================*/
.home-sec {
    padding-top: 10px;
    padding-bottom: 60px;
    background: url(../img/kids_group.jpg) no-repeat center center;
    padding: 0;
    -webkit-background-size: cover;
    background-size: cover;
    color: #fff;
    background-attachment: fixed;
}

    .home-sec .overlay {
        background: rgba(38, 57, 88, 0.89);
    }

    .home-sec h1 {
        color: #fff;
        font-weight: 900;
        font-size: 50px;
        text-transform: uppercase;
        padding-bottom: 35px;
    }

    .home-sec h3 {
        text-transform: uppercase;
    }



.set-flexi {
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0);
    -o-box-shadow: 0 1px 4px rgba(0, 0, 0, 0);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0);
    background-color: transparent;
    border: 0px solid #000;
    padding-top: 120px;
}

.flex-control-nav {
    display: none!important;
}

.set-flexi a {
    margin: 5px;
}
/*=====================================
  TAG LINE STYLES 
    ===================================*/

.tag-line {
    background: #E9E9E9;
    color: #000;
}

    .tag-line h2 {
        font-size: 20px;
        font-weight: 900;
        padding: 5px 10px 10px 5px;
        color: #005E5A;
    }

        .tag-line h2 > i {
            margin-left: 8px;
            margin-right: 8px;
        }
/*=====================================
  HEADER LINE STYLES 
    ===================================*/
.header-line {
    font-weight: 900;
    font-size: 25px;
    padding-bottom: 5px;
    padding-top: 25px;
    color: #000;
}

h1::after {
    content: " ";
    border: solid 2px #2f9484;
    display: block;
    width: 200px;
    margin: 12px auto;
}

/*=====================================
  ABOUT STYLES 
  ===================================*/
.about-div {
    padding: 30px;
}

.icon-round-border {
    border: 10px double #1A94C4;
    color: #2f9484;
    text-align: center;
    padding-top: 15px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    cursor: pointer;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

    .icon-round-border:hover {
        color: #fff;
        border: 10px double #fff;
        background-color: #1A94C4;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
    }

.about-div hr {
    border: 1px solid #1A94C4;
}

.about-div h3 {
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
}

.about-div p {
    padding-top: 10px;
}

.btn-set {
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    margin-bottom: 20px;
}

/*=====================================
  CAROUSEL
  ===================================*/
.carousel-inner{
  max-height: 100%;
  width: 100%;

}

.carousel img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  max-width: none;
  height: 40%;
}

.full-screen {
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  
}

.item {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    width: 100%;
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-device-width: 1024px) {
    .item {
        background-attachment: scroll;
    }
}

#mycarousel {
    height: 65%;
}

.carousel-caption {
    top: 45%;
    transform: translateY(-50%);
    text-align: center;
    bottom: initial;
}

/*=====================================
  CONTACT STYLES 
  ===================================*/
#contact-sec {
    padding-top: 10px;
    padding-bottom: 60px;
    background: url(../img/contact.jpg) no-repeat center center;
    padding: 0;
    -webkit-background-size: cover;
    background-size: cover;
    color: #fff;
    background-attachment: fixed;
}

#contact-sec .overlay {
        background: rgba(0, 0, 0, 0.76);
        min-height: 600px;
    }

    #contact-sec h1 {
        color:#fff;
    }
#contact-sec .form-control{
    background-color:rgba(255, 255, 255, 0);
    color:#fff;
}
/*=====================================
  Footer STYLES 
  ===================================*/
#footer {
    padding:5px 20px;
    background-color:#2d3d5a;
    text-align:right;
    color:#ffffff;
    font-size:12px;
}

#map {
    width: 100%;
    height: 250px;
    background-color: grey;
}

#footer-header-links
{
    color: #2d3d5a;
    font-size: 16px;
}

#footer-link {
    text-decoration: underline;
}

.centered-footer {
    padding: 0;
    text-decoration: none;
}

.centered-footer a {
    text-decoration: none;
    color: #2d3d5a;
}

.centered-footer ul {
    width:100%;
    list-style: none;
}

.centered-footer ul li {
    float: left;
    width: 150px;
    font-weight: bold;
    text-decoration: none;
    color: #FFF;
}

.centered-footer ul li ul {
    padding: 0;
}

.centered-footer ul li ul li {
    float: none;
    padding: 5px 0;
    font-weight: normal; 

}

div.centered-footer {
    background-color: #F5F5F5;
    color: #2d3d5a;
}

/*=====================================
  FOR KIDS, DESCRIPTION LISTS
  ===================================*/
.list-left > dt{
    text-align: left;
    padding-left: auto;
    padding-right: auto;
    line-height: 2;
}
list-left > dd {
    width: auto;
}

/*=====================================
  ENROLMENT ZONE MAP
  ===================================*/  

#zone {
    height: 450px;
    width: 100%;
    background-color: grey;
}  

#infowindow-content .title {
    font-weight: bold;
}

#infowindow-content {
    display: none;
}

#zone #infowindow-content {
    display: inline;
}

.pac-card {
    margin: 10px 10px 0 0;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    font-family: Roboto;
}

#pac-container {
    padding-bottom: 12px;
    margin-right: 12px;
}

.pac-controls {
    display: inline-block;
    padding: 5px 11px;
}

.pac-controls label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}

#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 400px;
}

#pac-input:focus {
    border-color: #4d90fe;
}

#title {
    color: #fff;
    background-color: #4d90fe;
    font-size: 25px;
    font-weight: 500;
    padding: 6px 12px;
}

@media only screen and (max-width: 435px) {
    .pac-card {
        margin: 10px 10px 0 10px;
    }
    
    #pac-input {
        width: 300px;
    }
    
    .gm-style-mtc {
        display: none;
    }
}

@media only screen and (max-width: 330px) {
    #pac-input {
        width: 220px;
    }
    
    #title {
        font-size: 20px;
    }
    
    .pac-controls label {
    font-size: 14px;
    }
}

/*=====================================
  IMAGE GALLERY
  ===================================*/  
#galleryimage {
    border: 5px solid;
    border-color: #2f9484;
    transition-property: border;
	transition-duration: 0.5s;
	transition-timing-function: linear;
	cursor: pointer;
    margin: 5px;
}

#galleryimage:hover {
    border-color: #182B4B;
    position:relative;
    top:-25px;
    left:-35px;
    width:500px;
    height:auto;
    display:block;
    z-index:999;
}

/*=====================================
  FORM STYLES
  ===================================*/  
.hiddenForm {
    display: none;
}

.code-editor {
    display: block;
    width: 100%;
    height: 500px;
    position: relative;
    border: 1px solid #ccc;
    border-radius: 4px;
    
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.code-editor:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}


/*=====================================
  CUSTOM ANIMATIONS
  ===================================*/
/* slide away */
@keyframes slideLeftAndFade {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    12.5% {
        opacity: 0.66;
    }
    25% {
        opacity: 0.33;
    }
    75% {
        opacity: 0;
    }
    100% {
        transform: translateX(-20%);
        opacity: 0;
    }
}

.slideAway {
    position: relative;
    animation-name: slideLeftAndFade;
    animation-duration: 0.75s;
    animation-timing-function: ease-out;
}
#error-float {
    width: 100%;
    position: absolute;
    top: 50px;
    left: 0;
}
#error-float {
    z-index: 100;
}